@model WebApplication6.Models.Group

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Group</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GroupName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GroupName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Privacy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Privacy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Session)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Session)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Faculty)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Faculty)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Creator)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
